@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.custom-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Change the color of the scrollbar track */
.custom-scroll::-webkit-scrollbar-track {
  background-color: #20539533;
  /* border-radius: 30px; */
  margin-left: 10px;
}

/* Change the color of the scrollbar thumb */
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #205295;
  /* border-radius: 30px; */
}

/* Change the color of the scrollbar thumb when hovered */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #205295;
  cursor: pointer !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Change the color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #579dff00;
}

/* Change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #205295;
}

/* Change the color of the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #205295;
  cursor: pointer !important;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(0, 119, 255);

  position: fixed;
  z-index: 90000000031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px rgb(0, 119, 255), 0 0 5px rgb(0, 119, 255);
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Adjust the animation speed */
#nprogress .bar {
  animation: nprogress-bar 0.2s linear;
}

@keyframes nprogress-bar {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

.ant-divider {
  background-color: #eeeeee !important;
}

.custom-swal-container, .custom-swal-container1,
.custom-swal-popup, .custom-swal-popup1 {
  background-color: white;
  color: black;
  /* height: 300px; */
}

.custom-swal-popup{
  height: 300px;
  width: 300px;
  border-radius: 15px;
}

.swal2-confirm:focus,
.swal2-confirm {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  color: white !important;
}

.ant-btn-primary {
  background-color: #3659D4 !important;
  border-color: #3659D4 !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.ant-btn-primary:hover {
  background-color: #123edd !important;
  border-color: #123edd !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.ant-btn-default {
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.ant-btn-default:hover {
  background-color: #2c333a !important;
  border-color: #2c333a !important;
  color: #ffffff !important;
}

.ant-modal-close-icon {
  color: #2c333a !important;
}

.ant-collapse-expand-icon {
  color: #acbbc7 !important;
}

.ant-collapse-header-text {
  color: #acbbc7 !important;
}

.ant-collapse-content {
  background-color: #23262e !important;
}

.custom-card .ant-card {
  width: 15rem;
}

.custom-table .ant-table-cell {
  border: none !important;
  border-bottom: 1px solid #2c333a !important;
  text-align: left !important;
}

.custom-table .ant-table-placeholder {
  background-color: #2c333a !important;
  color: #acbbc7 !important;
}

.custom-table .ant-table-tbody {
  background-color: #23262e !important;
  color: #acbbc7 !important;
}

.custom-table .ant-table-cell-row-hover {
  background-color: #2c333a !important;
  color: #acbbc7 !important;
}

.custom-table th {
  background-color: #2c333a !important;
  color: #acbbc7 !important;
}

.custom-table th:first-child {
  border-top-left-radius: 5px !important;
}

.custom-table th:last-child {
  border-top-right-radius: 5px !important;
}

.custom-table th.ant-table-cell::before {
  height: 0px !important;
}

.custom-drawer .ant-drawer-header,
.custom-drawer .ant-drawer-title,
.custom-drawer .ant-drawer-body {
  background-color: #23262e !important;
  color: #acbbc7 !important;
}

.custom-drawer .ant-drawer-close,
.custom-drawer .ant-drawer-close:hover {
  color: #acbbc7 !important;
}

.ant-popconfirm-buttons .ant-btn-default {
  border-color: #23262e !important;
  color: #23262e !important;
  box-shadow: none !important;
}

.ant-popconfirm-buttons .ant-btn-default:hover {
  color: white !important;
}

.Button {
  background-color: #3659D4 !important;
  border: none;
}

.Button:hover {
  background-color: #3659D4 !important;
  border: none;
}

/* .custom-cell td:nth-child(7) {                                                                                                               
  padding: 0 !important;
}

.custom-cell td {                                                                                                               
  padding-top: 0 !important;
  padding-bottom: 0 !important;
} */

.ant-checkbox-wrapper {
  display: flex !important;
}

.ant-checkbox-wrapper .ant-checkbox {
  align-self: baseline !important;
}


.animation-delay-1 {
  animation-delay: 0.1s;
}

.animation-delay-2 {
  animation-delay: 0.2s;
}

.animation-delay-3 {
  animation-delay: 0.3s;
}

/* .animate-bounce {
    animation: bounce 1s infinite;
} */

.ant-picker-calendar-mode-switch {
  visibility: hidden !important;
  display: none !important;
}

.a7a {
  font-family: 'Southernsky', sans-serif;
  /* font-family: 'Seafood', sans-serif; */
}

.ant-popover-inner, .ant-popover-arrow::before {
  background-color: #0B2447 !important;
}

.ant-watermark img {
  opacity: 0.01 !important;
}
.ServicesSection {
  opacity: 0.25;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(1, 145, 231, 0.73) 53.12%);
}