@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.custom-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

Change the color of the scrollbar track
.custom-scroll::-webkit-scrollbar-track {
  background-color: #20539533;
  /* border-radius: 30px; */
  margin-left: 10px;
}

/* Change the color of the scrollbar thumb */
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #282828;
  /* border-radius: 30px; */
}

/* Change the color of the scrollbar thumb when hovered */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #282828;
  cursor: pointer !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Change the color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #579dff00;
}

/* Change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #282828;
}

/* Change the color of the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #141414;
  cursor: pointer !important;
}

.scrolled {
  color: black !important;
}

.scrolled-border {
  border-bottom: 1px solid #797979 !important;
}


/* @media (prefers-color-scheme: dark), (prefers-color-scheme: light) { */
/* @media (prefers-color-scheme: dark) { */
  .custom-scroll::-webkit-scrollbar-track {
    background-color: #14141438;
    /* border-radius: 30px; */
    margin-left: 10px;
  }

  /* Change the color of the scrollbar thumb */
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #141414;
    /* border-radius: 30px; */
  }

  /* Change the color of the scrollbar thumb when hovered */
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #141414;
    cursor: pointer !important;
  }

  /* Change the color of the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #28282800;
  }

  /* Change the color of the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #282828;
  }

  /* Change the color of the scrollbar thumb when hovered */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #282828;
  }

  .tox-toolbar__primary,
  .tox-toolbar-overlord,
  .tox-editor-header,
  .tox-editor-container,
  .tox-statusbar,
  .tox-toolbar__overflow,
  .tox-editor-container,
  .tox .tox-tinymce {
    background-color: #141414 !important;
  }

  .tox-tinymce {
    border: 1px solid #3b3b3b !important;
  }

  .element2:hover {
    background: linear-gradient(to right, #363b3d 0%, #3b3b3b3b 2%, #3b3b3b3b 40%, transparent 100%);
  }

  .element3 {
    background: linear-gradient(to right, #363b3d 0%, #3b3b3b3b 2%, #3b3b3b3b 40%, transparent 100%);
    /* color: #00A3FF; */
  }

  .ant-popover-inner,
  .ant-popover-arrow::before {
    background-color: #1f1f1f !important;
  }

  ._2k9Ys::-webkit-scrollbar-thumb {
    background-color: #474747 !important;
  }

  ._2k9Ys {
    margin: 0 !important;
  }

  ._3eULf {
    background-color: #141414 !important;
  }

  ._3ZbQT,
  ._CZjuD {
    border: none !important;
  }

  ._2B2zv {
    border: none !important;
  }

  ._3ZbQT div {
    background-color: #282828 !important;
  }

  ._2B2zv svg {
    background-color: #282828 !important;
  }

  ._3ZbQT:last-child {

    border-bottom: 3px solid #282828 !important;
  }

  ._3_ygE {
    background-color: #1d1d1d !important;
    border: none !important;
  }

  ._25P-K,
  ._25P-K:hover {
    color: black !important;
  }

  .sun-editor,
  .sun-container {
    background-color: #141414 !important;
    color: white !important;
    border-radius: 15px !important;
  }

  .sun-editor .se-toolbar {
    background-color: #141414 !important;
    outline: 1px solid #424242 !important;
    border-radius: 5px !important;
    color: white !important;
  }

  .sun-editor * {
    /* color: white !important; */
  }
  
  .se-toolbar * { 
    color: white !important;

  }


  .se-menu-list li button:hover {
    background-color: #282828 !important;
  }

  .se-submenu {
    background-color: #282828 !important;
    color: white !important;
    /* border: 1px solid #282828 !important; */
  }

  .se-submenu .se-btn-list:hover,
  .se-submenu .active {
    background-color: #1f1f1f !important;
    color: white !important;
    border: none !important;
  }

  .on {
    background-color: #282828 !important;
    color: white !important;
    border: none !important;
  }

  .default_value {
    background-color: #282828 !important;
    /* color: white !important; */
    border: none !important;
  }

  .sun-editor-editable {
    background-color: #141414 !important;
    /* border: none !important; */
    border-radius: 10px !important;
    border: 1px solid #424242 !important;
    color: white !important;
  }
  

  .sun-editor {
    /* border: 2px solid #282828 !important;
    border-color: #282828 !important; */
    border: none !important;
    /* border-radius: 20px !important; */
  }
  
  .se-container {
    /* outline: 1px solid #424242 !important; */
    /* border: 1px solid #e71414 !important;
    background-color: transparent !important;
    border-width: 0px;*/
    /* border-radius: 20px !important;  */

  }

  .sun-editor .se-resizing-bar {
    display: flex;
    width: auto;
    height: auto;
    min-height: 16px;
    border-top: 1px solid #282828 !important;
    padding: 0 4px;
    background-color: #141414 !important;
    cursor: ns-resize;
  }


/* } */

/* .sun-editor {
  border: 2px solid rgb(209, 209, 209) !important;
  border-radius: 10px !important;
}

.se-container {
  border: 3px solid white !important;
  border-radius: 10px !important;
} */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(0, 119, 255);

  position: fixed;
  z-index: 90000000031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px rgb(0, 119, 255), 0 0 5px rgb(0, 119, 255);
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Adjust the animation speed */
#nprogress .bar {
  animation: nprogress-bar 0.2s linear;
}

@keyframes nprogress-bar {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

* {

  font-family: 'Poppins', sans-serif !important;
}

.ant-divider {
  background-color: #eeeeee !important;
}

.custom-swal-container,
.custom-swal-container1,
.custom-swal-popup,
.custom-swal-popup1 {
  background-color: white;
  color: black;
}

.custom-swal-popup {
  height: 310px;
  width: 310px;
  border-radius: 15px;
}

.swal2-confirm:focus,
.swal2-confirm {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  color: white !important;
}

.ant-btn-primary {
  background-color: #3659D4 !important;
  border-color: #3659D4 !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.ant-btn-primary:hover {
  background-color: #123edd !important;
  border-color: #123edd !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.ant-btn-default {
  color: #ffffff !important;
  border: none !important;
}

.ant-btn-default:hover {
  color: #ffffff !important;
  border: none !important;
}

.ant-checkbox {
  height: max-content !important;
}

.ant-modal-close-icon {
  color: #2c333a !important;
}

.ant-collapse-expand-icon {
  color: #acbbc7 !important;
}

.ant-collapse-header-text {
  color: #acbbc7 !important;
}

.ant-collapse-content {
  background-color: #23262e !important;
}

.custom-card .ant-card {
  width: 15rem;
}

.custom-table .ant-table-cell {
  border: none !important;
  border-bottom: 1px solid #2c333a !important;
  text-align: left !important;
}

.custom-table .ant-table-placeholder {
  background-color: #2c333a !important;
  color: #acbbc7 !important;
}

.custom-table .ant-table-tbody {
  background-color: #23262e !important;
  color: #acbbc7 !important;
}

.custom-table .ant-table-cell-row-hover {
  background-color: #2c333a !important;
  color: #acbbc7 !important;
}

.custom-table th {
  background-color: #2c333a !important;
  color: #acbbc7 !important;
}

.custom-table th:first-child {
  border-top-left-radius: 5px !important;
}

.custom-table th:last-child {
  border-top-right-radius: 5px !important;
}

.custom-table th.ant-table-cell::before {
  height: 0px !important;
}

.custom-drawer .ant-drawer-header,
.custom-drawer .ant-drawer-title,
.custom-drawer .ant-drawer-body {
  background-color: #23262e !important;
  color: #acbbc7 !important;
}

.custom-drawer .ant-drawer-close,
.custom-drawer .ant-drawer-close:hover {
  color: #acbbc7 !important;
}

.ant-popconfirm-buttons .ant-btn-default {
  border-color: #23262e !important;
  color: #23262e !important;
  box-shadow: none !important;
}

.ant-popconfirm-buttons .ant-btn-default:hover {
  color: white !important;
}

.Button {
  background-color: #3659D4 !important;
  border: none;
}

.Button:hover {
  background-color: #3659D4 !important;
  border: none;
}

.ant-checkbox-wrapper {
  display: flex !important;
}

.ant-checkbox-wrapper .ant-checkbox {
  align-self: baseline !important;
}


.animation-delay-1 {
  animation-delay: 0.1s;
}

.animation-delay-2 {
  animation-delay: 0.2s;
}

.animation-delay-3 {
  animation-delay: 0.3s;
}

.ant-picker-calendar-mode-switch {
  visibility: hidden !important;
  display: none !important;
}

.a7a {
  font-family: 'Southernsky', sans-serif;
}



/* .ant-popover-inner,
.ant-popover-arrow::before {
  background-color: #0B2447 !important;
} */

.ant-watermark img {
  opacity: 0.01 !important;
}

.ServicesSection {
  opacity: 0.25;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(1, 145, 231, 0.73) 53.12%);
}

.loginInput .ant-input {
  background-color: #E6F4FD !important;
  color: #000000 !important;
  border: 0 !important;
  border-radius: 5px !important;
}

/* .ant-table-filter-trigger {
  color: #337CCF !important;
} */

/* .ant-table-filter-trigger:hover {
  background-color: #337ccf23 !important;
} */

/* .ant-table-column-sorter {
  color: #337CCF !important;
} */

.ant-table-thead tr th {
  /* background-color: #337ccf0f !important; */
  padding: 12px 7px !important;
}

.ant-divider {
  background-color: #141414 !important;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

.ant-drawer-close {
  border-radius: 5px !important;
  padding: 3px 6px !important;
  padding-bottom: 6px !important;
}

.ant-drawer-close:hover {
  background-color: rgb(229, 228, 228) !important;
}

.element:hover {
  background: linear-gradient(to right, #0066ffb3 0%, #0066ff52 25%, #0066ff2c 50%, transparent 100%);
}

.element1 {
  background: linear-gradient(to right, #0066ffa9 0%, #0066ff52 25%, #0066ff2c 50%, transparent 100%);
}

._custom-progress-antd-swans .ant-progress-text {
  color: white;
}

.ant-popover *{
  color: white !important;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
  border: none;
  border-color: transparent;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l4 2.5s infinite;
  border: none;
  border-color: transparent;
}

.loader:after {
  animation-delay: -1.25s;
  border: none;
  border-color: transparent;
}

@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }

  12.5% {
    inset: 0 35px 0 0;
  }

  25% {
    inset: 35px 35px 0 0;
  }

  37.5% {
    inset: 35px 0 0 0;
  }

  50% {
    inset: 35px 0 0 35px;
  }

  62.5% {
    inset: 0 0 0 35px;
  }

  75% {
    inset: 0 0 35px 35px;
  }

  87.5% {
    inset: 0 0 35px 0;
  }

  100% {
    inset: 0 35px 35px 0;
  }
}