@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Change the color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #23262E;
}

/* Change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #2C333A;
}

/* Change the color of the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #ACBBC7;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.ant-divider {
  background-color: #eeeeee !important;
}

.custom-swal-container,
.custom-swal-popup {
  background-color: #23262E;
  color: #ACBBC7
}

.swal2-confirm:focus,
.swal2-confirm {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  color: #ACBBC7 !important;
}

.ant-btn-primary {
  background-color: #23262E !important;
  border-color: #23262E !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.ant-btn-primary:hover {
  background-color: #2C333A !important;
  border-color: #2C333A !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.ant-btn-default {
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.ant-btn-default:hover {
  background-color: #2C333A !important;
  border-color: #2C333A !important;
  color: #ffffff !important;
}

.ant-modal-close-icon {
  color: #2C333A !important;
}

.ant-collapse-expand-icon {
  color: #ACBBC7 !important;
}

.ant-collapse-header-text {
  color: #ACBBC7 !important;
}

.ant-collapse-content {
  background-color: #23262E !important;
}

.custom-card .ant-card {
  width: 15rem;
}

.custom-table .ant-table-cell {
  border: none !important;
  border-bottom: 1px solid #2C333A !important;
  text-align: left !important;
}

.custom-table .ant-table-placeholder {
  background-color: #2C333A !important;
  color: #ACBBC7 !important;
}

.custom-table .ant-table-tbody {
  background-color: #23262E !important;
  color: #ACBBC7 !important;
}

.custom-table .ant-table-cell-row-hover {
  background-color: #2C333A !important;
  color: #ACBBC7 !important;
}

.custom-table th {
  background-color: #2C333A !important;
  color: #ACBBC7 !important;
}

.custom-table th:first-child {
  border-top-left-radius: 5px !important;
}

.custom-table th:last-child {
  border-top-right-radius: 5px !important;
}

.custom-table th.ant-table-cell::before{
  height: 0px !important;
} 

.custom-drawer .ant-drawer-header,
.custom-drawer .ant-drawer-title,
.custom-drawer .ant-drawer-body {
  background-color: #23262E !important;
  color: #ACBBC7 !important;
}

.custom-drawer .ant-drawer-close,
.custom-drawer .ant-drawer-close:hover {
  color: #ACBBC7 !important;
}

.ant-popconfirm-buttons .ant-btn-default {
  /* background-color: #23262E !important; */
  border-color: #23262E !important;
  color: #23262E !important;
  box-shadow: none !important;
}

.ant-popconfirm-buttons .ant-btn-default:hover {
  color: white !important;
}